/* css 기본값이 미리 지정되어있는 경우가 있기 떄문에, 미리 기본값을 0으로 설정해준다 */
* {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

button.transparent-button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.container {
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px 0;
}

article.card {
  width: 600px;
  margin: 20px auto;
  margin-bottom: 60px;
  background: #fff;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  overflow-x: hidden;
}

/* HEADER 시작 */
article.card header {
  height: 40px;
  padding: 10px;
  /* background-color: white; */
}

article.card header > div {
  display: inline-block; /*수평정렬*/
  vertical-align: middle; /*중앙정렬*/
}

.circle-image {
  height: 100%;
  padding: 5px;
  box-sizing: border-box; /*40px 안에서 사진이 들어갈 수 있도록*/
}

.circle-image > img {
  height: 100%;
  border-radius: 50%; /*정사각형 모양인 프로필 사진을 동그랗게 만들어줌*/
}

.card-username {
  padding: 10px 0;
  font-weight: 900;
  line-height: 20px;
  margin-left: 5px;
  font-size: 13px;
}

.option-more {
  float: right;
  padding: 7px;
}
/* HEADER 종료 */

/*MAIN 시작 */
.card-container {
  padding: 5px 10px;
}

/* 버튼 */
.card-buttons {
  padding: 0 5px;
  margin-top: 5px;
}

.card-buttons > div {
  display: inline-block; /*수평정렬*/
  margin-right: 10px;
  vertical-align: middle; /*중앙정렬*/
}

.card-buttons > div.last-card-button {
  float: right;
  margin-right: 0px;
}

/* 좋아요 */
.card-likes {
  padding: 5px;
  font-size: 13px;
  font-weight: 900;
}

/*본문*/
.card-content {
  padding: 2px 5px;
  font-size: 13px;
}

.card-content li > div {
  padding: 1px 0;
}

.card-content li > div > span {
  font-weight: 900;
  margin-right: 5px;
}

.card-content li.comment > div > button {
  float: right;
}

.card-content li.comment > div > button > img {
  width: 12px;
  margin-right: 5px;
}

/*시간*/
.card-time {
  padding: 3px;
  font-size: 11px;
  color: #a0a0a0;
}

/* MAIN 종료 */

/*FOOTER 시작 */
footer.card-comment {
  position: relative;
  height: 55px;
  border-top: 1px solid #e0e0e0;
}

footer.card-comment input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  padding: 0 15px;
  color: #606060;
}

footer.card-comment > div {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

footer.card-comment > div > button {
  color: #0095f6;
  opacity: 0.5;
  padding: 10px 5px;
}
/*FOOTER 종료 */

/*캐러셀 시작*/
article.card main .carousel {
  width: 100%;
  position: relative;
}

article.card main .carousel > div {
  overflow: hidden;
}

article.card main .carousel ul {
  width: 10000px;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

article.card main .carousel ul > li {
  display: inline-block;
}

article.card main .carousel ul > li img {
  width: 600px;
  height: 400px;
}

.slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
}

.slide img {
  opacity: 0.75;
}

/* .slide-left {
  left: 0;
} */

.slide-right {
  right: 0;
}

.carousel footer {
  position: absolute;
  height: 20px;
  text-align: center;
  width: 100%;
  bottom: -20px;
}

.carousel footer div {
  width: 6px;
  height: 6px;
  background-color: #a8a8a8;
  display: inline-block;
  border-radius: 50%;
  bottom: -20px;
}

.carousel footer div.active {
  background-color: #0095f6;
}
