h1 {
  font-size: 18px;
  font-weight: 900;
  color: #303030;
  line-height: 30px;
}

th {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #3333b0;
}

a,
a:visited {
  color: rgb(80, 176, 176);
  text-decoration: none;
  font-weight: 800;
}

img {
  /* 너비를 지정하면, 너비에 맞게 상대적으로 조정해줌 */
  width: 100px;
  height: auto;
}
